<html>
	<head>
		<title>Listado de productos</title>
		<title>Listado de productos</title>
		<script type="text/javascript" src="/front/js/jquery/jquery-1.12.1.min.js"></script>
		<script type="text/javascript" src="/front/js/productos/index.js"></script>
	</head>
	<body>
		<div><a href="sucursales.html">Sucursales</a> | <a href="productos.html">Productos</a> | <a href="stock.html">Stock</a></div>
		<h1>Listado de productos</h1>
		<a href="agregarProducto.html">Agregar</a><br /><br />
		<table id="listado-productos" border="1">
		</table>
		<br />
		<a href="javascript:history.go(0);">Refrescar</a>
	</body>
</html>